header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-bottom: solid 1px #cacaca;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.imgLogo {
    max-width: 80px;
}
.btn-cat{
    text-decoration: none;
    border: none;
    background-color: #ffccd2;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    text-shadow: black 0.1em 0.1em 0.2em;
}
nav ul li a {
    text-decoration: none;
  }