.btn-item-count {
    border: none;
    background-color: #ffccd2;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    text-shadow: black 0.1em 0.1em 0.2em;
}

p{
    font-size: 24px;    
    font-weight: bold;
    margin: 0 10px;
}
imgItemDetail {
    width: 50vh;
    max-width: 10px;
}   