.subtitulo{
    color: green;
}
.fondoPage {
    grid-area: header;
    grid-column: 1;
    grid-row: 1;
    background-color: #582805;
    text-align: center;
    color: white;
    font-family: cursive,Arial;
  }